.bloom-filter-carousel-element {
    border: 1px solid black;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 100px;
}

.bloom-filter-carousel-element:hover {
    cursor: pointer;
}

.div-filter-size {
    position: absolute;
    left: 10px;
    top: 10px;
}

.div-hesh-number {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.filter-array-div {
    position: absolute;
    left: 50%;
    width: 50px;
    top: 0px;
    bottom: 0px;
}

.hash-functions-list-div {
    position: absolute;
    left: 30%;
    width: 50px;
    top: 0px;
    bottom: 0px;
}

.filter-cell-div {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    background-color: rgb(122, 120, 120);
}

.hash-function-div {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    background-color: rgb(122, 120, 120);
}

.filter-cell-div-inner-text {
    position: absolute;
    font-size: 25px;
    left: 50%;
    margin-left: -5px;
    top: 50%;
    margin-top: -16px;
}

.hash-function-div-inner-text {
    position: absolute;
    font-size: 23px;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -16px;
}

.add-element-button {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 105.5px;
    height: 35px;
    margin-top: -52px;
    background-color: rgb(122, 120, 120);
    font-size: 12px;
}

.add-element-button:hover {
    cursor: pointer;
}

.check-element-availability-button {
    position: absolute;
    left: 10px;
    bottom: 50%;
    width: 105.5px;
    height: 35px;
    margin-bottom: -46px;
    background-color: rgb(122, 120, 120);
    font-size: 12px;
}

.check-element-availability-button:hover {
    cursor: pointer;
}

.checking-element-result {
    position: absolute;
    left: 10px;
    bottom: 50%;
    height: 30px;
    margin-bottom: -90px;
    color: rgb(29, 221, 29);
}

.add-element-input {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 100px;
    margin-top: -13px;
    background-color: grey;
}

.highlighted {
    background-color: rgb(196, 190, 190);
}

.red-background {
    background-color: red;
}

.green-background {
    background-color: rgb(3, 245, 3);
}

.bloom-filter-picture {
    border: 1px solid black;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 70%;
    float: left;
}

.bloom-filter-header-carousel {
    border: 1px solid black;
    position: absolute;
    top: 5px;
    float: right;
    right: 5px;
    bottom: 5px;
    left: 31%;
    text-align: center;
    line-height: 40px;
}

.show-added-elements-button {
    position: absolute;
    float: left;
    left: 10px;
    top: 208px;
    width: 200px;
    height: 30px;
    font-size: 13px;
    background-color: rgb(122, 120, 120);
}

.show-added-elements-button:hover {
    cursor: pointer;
}

.change-function-parameters-button {
    position: absolute;
    float: left;
    left: 10px;
    bottom: 215px;
    width: 200px;
    height: 30px;
    font-size: 13px;
    background-color: rgb(122, 120, 120);
}

.change-function-parameters-button:hover {
    cursor: pointer;
}

.text-area-with-list-of-added-elements {
    position: absolute;
    float: left;
    left: 10px;
    top: 10px;
    width: 194px;
    height: 175px;
    font-size: 17px;
    border: 1px solid #000;
    bottom: 10px;
    background-color: rgb(122, 120, 120);
    resize: none;
    pointer-events: none;
}

.hide-element {
    display: none;
}

.number-of-function-to-change-input {
    position: absolute;
    float: left;
    left: 10px;
    bottom: 183px;
    width: 194px;
    height: 20px;
    font-size: 13px;
    background-color: rgb(122, 120, 120);
}

.a-parameter-to-change-input {
    position: absolute;
    float: left;
    left: 10px;
    bottom: 150px;
    width: 194px;
    height: 20px;
    font-size: 13px;
    background-color: rgb(122, 120, 120);
}

.b-parameter-to-change-input {
    position: absolute;
    float: right;
    left: 10px;
    bottom: 118px;
    width: 194px;
    height: 20px;
    font-size: 13px;
    background-color: rgb(122, 120, 120);
}

.p-parameter-to-change-input {
    position: absolute;
    float: left;
    left: 10px;
    bottom: 85px;
    width: 194px;
    height: 20px;
    font-size: 13px;
    background-color: rgb(122, 120, 120);
}

.accespt-changes-to-function-button {
    position: absolute;
    float: left;
    left: 10px;
    bottom: 45px;
    width: 200px;
    height: 30px;
    font-size: 13px;
    background-color: rgb(75, 87, 69);
}

.accespt-changes-to-function-button:hover {
    cursor: pointer;
}

.change-parameters-of-function-randomly {
    position: absolute;
    float: left;
    left: 10px;
    bottom: 10px;
    width: 200px;
    height: 30px;
    font-size: 13px;
    background-color: rgb(75, 87, 69);
}

.change-parameters-of-function-randomly:hover {
    cursor: pointer;
}


.zone-for-bar-chart {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 70%;
}

.show-zone-bar-chart-button {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 30px;
    background-color: rgb(122, 120, 120);
}

.show-zone-bar-chart-button:hover {
    cursor: pointer;
}

.input-filter-size-for-bar-chart {
    position: absolute;
    top: 63px;
    width: 373px;
    background-color: rgb(122, 120, 120);
}

.input-number-of-hash-functions-for-bar-chart {
    position: absolute;
    top: 110px;
    width: 373px;
    background-color: rgb(122, 120, 120);
}

.input-number-of-elements-to-add-for-bar-chart {
    position: absolute;
    top: 165px;
    width: 373px;
    background-color: rgb(122, 120, 120);
}

.input-number-of-elements-to-check-for-bar-chart {
    position: absolute;
    top: 220px;
    width: 373px;
    background-color: rgb(122, 120, 120);
}

.button-to-build-filter-bar-chart {
    position: absolute;
    top: 260px;
    height: 30px;
    width: 379px;
    background-color: rgb(75, 87, 69);
}

.button-to-build-filter-bar-chart:hover {
    cursor: pointer;
}

.underscore-pseudocode {
    color: rgb(29, 28, 28);
}

.type-pseudocode {
    color: rgb(55, 107, 248);
}

.bracket-pseudocode {
    color: white;
}

.variable-pseudocode {
    color: rgb(0, 174, 255);
}

.numbers-pseudocode {
    color: rgba(156, 156, 45, 0.972);
}

.highlighted-pseudocode {
    background-color: wheat;
}

.pseudocode-check-element-string-element {
    color: rgb(247, 188, 80);
}

.playground-main-title {
    position: absolute;
    font-size: 30px;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -55px;
    font-weight: 600;
}