body {
    background-color: grey;
}

.main-menu {
    border: 1px solid black;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 80%;
    float: left;
}

.playground {
    border: 1px solid black;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    left: 21%;
    float: right;
}

.title-block {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 90%;
    font-size: 50px;
    text-align: center;
    line-height: 90px;
    background: linear-gradient(to bottom right, grey, rgb(104, 103, 103));
}

.elements-carousel {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 15%;
    bottom: 0px;
}

.elements-playground-cap {
    border: 1px solid black;
    position: absolute;
    float: left;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 90%;
}

.elements-playground-footer {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 80%;
    bottom: 0px;
}

.pseudocode-window {
    border: 1px solid white;
    position: absolute;
    left: 70%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(29, 28, 28);
    padding-left: 10px;
    padding-top: 10px;
    color: white;
}

.playground-main {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10%;
    bottom: 20%;
}

.bloom-filter-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 15%;
}